<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Digital BookStore</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/BookR.js" type="text/javascript"></script>
        <script src="/js/handlebars-v4.7.7.js"></script>
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/6e9f83640f.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container">
        {{{body}}}
      </div>
    </body>
</html>